<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Калькулятор</title>
    <link rel="stylesheet" href="calc.css">
<!--  <script src="../vue@next.js" charset="utf-8"></script> -->
  </head>
  <body>
    <div id="calc" v-cloak>
      <div class="result" @click="reverseIf()">
        <textarea type="text" v-model="input" :class="{smallInput: input.length >= 20, smallerInput: input.length >= 30}"></textarea>
      </div>
        <div class="buttons" v-if="seen">
          <button value="1" @click="plus($event)" class="numButton">1</button>
          <button value="2" @click="plus($event)" class="numButton">2</button>
          <button value="3" @click="plus($event)" class="numButton">3</button>
          <button id="delit" @click="delit()" class="numButton">/</button>
          <button value="4" @click="plus($event)" class="numButton">4</button>
          <button value="5" @click="plus($event)" class="numButton">5</button>
          <button value="6" @click="plus($event)" class="numButton">6</button>
          <button id="minus" @click="minus()" class="numButton">-</button>
          <button value="7" @click="plus($event)" class="numButton">7</button>
          <button value="8" @click="plus($event)" class="numButton">8</button>
          <button value="9" @click="plus($event)" class="numButton">9</button>
          <button @click="pribav()" class="numButton">+</button>
          <button value="0" @click="plus($event)" class="numButton">0</button>
          <button @click="del()" class="del numButton">C</button>
          <button id="del" @click="tochka()" class="tochka numButton">·</button>
          <button @click="umnozh()"class="umnozh numButton">x</button>
          <button @click="ravno()" class="ravno numButton">=</button>
          <button class="pusto numButton" @click="reverse()"><img src="787265.png" alt="сохр"></button>
        </div>
        <div v-else>
          <div class="bufer">
            <ol>
            <li v-for="(last, index) in inputs"><span :class="{smallText: last.length >= 10, smallerText: last.length >= 17}"> {{ last }} </span><button @click="paste(index)" class="pasteButton">+</button><button @click="clean(index)" class="deleteButton">-</button></li>
            </ol>
          </div>
          <button class="pustota numButton" @click="reverse()"><img src="787265.png" alt="сохр"></button>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="calc.js" charset="utf-8"></script>
  </body>
</html>
